
.paginate {
    display: flex;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  .paginate li {
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    color: #333333 !important;
  
    width: 50px;
    height: 50px;
    background: rgba(51, 51, 51, 0.1);
    border-radius: 5px;
  }
  .paginate li a {
    width: 50px;
    height: 50px;
    color: #333333;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .paginate li.active {
    background-color: #0056b8;
    color: #fff !important;
  }